* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Roboto Mono", monospace;
      background-color: #90EBA9;
      background-image: 
          radial-gradient(at 47% 33%, hsl(88.65, 8%, 18%) 0, transparent 59%), 
          radial-gradient(at 82% 65%, hsl(88.65, 26%, 39%) 0, transparent 55%);
  background-repeat: no-repeat;
  background-attachment: fixed;

  }
  
  .container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin: auto;
    text-align: center;
    height: 400px;
    width: 100vh;
    backdrop-filter: blur(16px) saturate(119%);
    -webkit-backdrop-filter: blur(16px) saturate(119%);
    background-color: rgba(207, 196, 185, 0.363);
    border-radius: 12px;
    border: 1px solid rgba(83, 207, 104, 0.3);
  }
  
  .page-title, .page-subtitle {
    color: #ffffff;
    margin: 25px 5px;
    text-align: center;
  }

  .others{
    position: absolute;
    text-decoration: none;
    top: 1vh;
    color: black;
    border-bottom: 1px solid rgb(221, 180, 104);
    font-size: 1em;
  }
  
   .container h3{
    color: white;
  }
  
  #valor {
    margin: 20px 10px;
    padding: 10px 10px;
    width: 300px;
    border-radius: 5px;
    outline-color: rgb(155, 109, 25);
    border: none;
    text-align: center;
  }
  
  button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: 15px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
  }

  button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #90EBA9 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
   
  button:hover::before {
    width: 9em;
  }

  #resultado{
    color: black;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
  }

  #date{
    margin-top: 60px;
    color: white;
    font-size: .8em;
  }
