@import url('https://fonts.googleapis.com/css2?family=Nobile:ital@1&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Nobile', sans-serif;
    background-image: url(../imgs/layered-waves-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
}

form{
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-flow: column wrap;
    gap: 50px;
    padding: 50px;   
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    color: #90EBA9;
}

label{
    font-size: 54px;
    text-align: center;
}

select{
    padding: 10px 20px;
    font-size: 24px;
    background-color: #001220;
    color: #90EBA9;
}

option{
    font-size: 16px;
    background-color: inherit;
}